certifi
cffi
colorama
comtypes
cryptography
customtkinter
darkdetect
Deprecated
docx2pdf
et_xmlfile
fire
fonttools
idna
img2pdf
lxml
numpy
opencv-python-headless
openpyxl
packaging
pandas
pdf2docx
pdfminer.six
pdfplumber
pikepdf
pillow
pycparser
PyMuPDF
pypdf
pypdfium2
pytesseract
python-dateutil
python-docx
python-pptx
pytz
pywin32
reportlab
requests
six
termcolor
tkinterdnd2
tqdm
ttkthemes
typing_extensions
tzdata
urllib3
wrapt
xlsxwriter
playwright
